.borde
{
border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border: 0px solid #000000;
}

.spaceImagen{
	
	width: 100%; 
	height: 100px;	
}

.alignLeft{
	
	float: left; 
}

.alignCenter{
	
	float: center;
}

.sizeButton{
	
	FONT-SIZE: 11px
}

.banner{
	
	width: 100%; 
	height: 500px;
	border; 1px;
}