.alignLeft{
	
	float: left; 
}

.spaceImagen{
	
	width: 100%; 
	height: 100px;	
}

.alignCenter{
	
	float: center;
}

.sizeButton{
	
	FONT-SIZE: 11px
}

.espaciar{
	
	width: 600px;
}

.width15{
	
	width: 15%;
}

.width50{
	
	width: 50%;
}

.size53{
	size: 600px;
	float: left;
}