<!DOCTYPE HTML>
<HTML>
	<HEAD>
		<TITLE>KEANZATO COTIZADORA</TITLE>
	
		<LINK TYPE="TEXT/CSS" REL="STYLESHEET" HREF="/keanzato/resources/css/skeleton.css">
		<LINK TYPE="TEXT/CSS" REL="STYLESHEET" HREF="/keanzato/resources/css/normalize.css">
		<LINK TYPE="TEXT/CSS" REL="STYLESHEET" HREF="/keanzato/resources/css/albanileria.css">
		
	
	</HEAD>
	
	<BODY>
	
		 <div class="container borde">
		<div class="row" >
				<div class="four columns ">	
				<input type="button" value="Cerrar Sesion" onClick="location.href='http://localhost:90/keanzato/home'" />
				</div>			
				<div class="six columns"> <p> </p>
				</div>
				<div class="two columns ">	
				<p> </p>
				</div>
			</div>
		</div>	
		<div class="container borde">
			<div class="row" >
				<div class="four columns ">				
				<a class="alignLeft" href="http://localhost:90/keanzato/User"><img class="spaceImagen" src="/keanzato/resources/imagenes/logo final.png"></a> 
				</div>
				
				<div class="two columns">
				<a class="alignCenter" href="http://localhost:90/keanzato/User/cotiza"><h5>Cotiza</h5></a>
				</div>
				
				<div class="three columns">
				<a class="alignCenter" href="http://localhost:90/keanzato/User/contrataTuMaestro"><h5>Contrata tu Maestro</h5></a>
				</div>
				
				<div class="two columns">
				<input type="text" class="textbox" class="sizeButton" placeholder="buscar" required="required" id="txtbuscar" name="txtbuscar">
				</div>
				<div class="one columns"> 
				<input type="submit" value="buscar">
				</div>
			</div>
		</div>	
		<div class="container borde">
			<div class="row" >
				<div class="four columns ">	
				<p> </p>
				</div>			
				<div class="six columns"> <p> </p>
				</div>
				<div class="two columns ">	
				<input type="button" value="Total cotizacion" onClick="location.href='http://localhost:90/keanzato/User/total'" />
				</div>
			</div>
		</div>
		
		<div class="container borde">
			<div class="row" >
				<div class="four columns ">	
				<h5>Albanileria</h5>
				
				<table border="0" cellpadding="0" cellspacing="0" width="1000">
					<tr>
						<td class="negrita">Titulo </td>
						<td class="negrita">Unidad</td>
						<td class="negrita">Moneda</td>
						<td class="negrita">Precio</td>
					</tr>
					<tr>
						<td>Albanileria pandereta</td>
						<td>mt2</td>
						<td>CLP</td>
						<td><input type= "text" class="textbox" placeholder="Ingrese..." id="precio"></input></td>
					</tr>
					<tr>
						<td>Albanileria pandereta bemezcla pega albanileria</td>
						<td>mt2</td>
						<td>CLP</td> 
						<td><input type= "text" class="textbox" placeholder="Ingrese..." id="precio"></input></td>
					</tr>
					<tr>
						<td>Albanileria(L.fiscal)e=15</td>
						<td>mt2</td>
						<td>CLP</td>
						<td><input type= "text" class="textbox" placeholder="Ingrese..." id="precio"></input></td>
					</tr>
					<tr>
						<td>Albanileria(L.fiscal)e=15cm Bemezcla pega albanileria</td>
						<td>mt2</td>
						<td>CLP</td>
						<td><input type= "text" class="textbox" placeholder="Ingrese..." id="precio"></input></td>
					</tr>
					<tr>
						<td>Albanileria(L.muralla)e=20cm</td>
						<td>mt2</td>
						<td>CLP</td>
						<td><input type= "text" class="textbox" placeholder="Ingrese..." id="precio"></input></td>
					</tr>
					<tr>
						<td>Albanileria(L.muralla)e=20cm bemezlca pega albanileria</td>
						<td>mt2</td>
						<td>CLP</td>
						<td><input type= "text" class="textbox" placeholder="Ingrese..." id="precio"></input></td>
					</tr>
					<tr>
						<td>Albanileria e=11.5cms lad rejilla stand 24x11.5x7.1 de soga retapado ambas caras</td>
						<td>mt2</td>
						<td>CLP</td>
						<td><input type= "text" class="textbox" placeholder="Ingrese..." id="precio"></input></td>
					</tr>
					<tr>
						<td>Albanileria e=11.5cms lad rejilla stand 24x11.5x7.1 de soga retapado ambas caras(Bemezcla)</td>
						<td>mt2</td>
						<td>CLP</td>
						<td><input type= "text" class="textbox" placeholder="Ingrese..." id="precio"></input></td>
					</tr>
					<tr>
						<td>Albanileria e=9 csm.bloque10x20x40cms simple sin armar y retapada por ambas caras(bemezcla)</td>
						<td>mt2</td>
						<td>CLP</td>
						<td><input type= "text" class="textbox" placeholder="Ingrese..." id="precio"></input></td>
					</tr>
					<tr>
						<td>Pand. lad. fisc. pil. de lad. y barda 2.2</td>
						<td>ml</td>
						<td>CLP</td>
						<td><input type= "text" class="textbox" placeholder="Ingrese..." id="precio"></input></td>
					</tr>
					<tr>
						<td>Pand. lad. mur. pil. de lad. y barda 2.2</td>
						<td>ml</td>
						<td>CLP</td>
						<td><input type= "text" class="textbox" placeholder="Ingrese..." id="precio"></input></td>
					</tr>
					<tr>
						<td>Tab. est. termoblock H.celular 62.5x20x15</td>
						<td>mt2</td>
						<td>CLP</td>
						<td><input type= "text" class="textbox" placeholder="Ingrese..." id="precio"></input></td>
					</tr>
					<tr>
						<td>Tab. est. termoblock H.celular 62.5x20x17</td>
						<td>mt2</td>
						<td>CLP</td>
						<td><input type= "text" class="textbox" placeholder="Ingrese..." id="precio"></input></td>
					</tr>
					<tr>
						<td>Tab. est. termoblock H.celular 62.5x20x20</td>
						<td>mt2</td>
						<td>CLP</td>
						<td><input type= "text" class="textbox" placeholder="Ingrese..." id="precio"></input></td>
					</tr>
					<tr>
						<td>Tabique bajo tina</td>
						<td>mt2</td>
						<td>CLP</td>
						<td><input type= "text" class="textbox" placeholder="Ingrese..." id="precio"></input></td>
					</tr>
					<tr>
						<td>Tabique bloque de vidrio transparente</td>
						<td>mt2</td>
						<td>CLP</td>
						<td><input type= "text" class="textbox" placeholder="Ingrese..." id="precio"></input></td>
					</tr>
					<tr>
						<td>Tabique  estructural termoblock h.celular 62.5x20x15</td>
						<td>mt2</td>
						<td>CLP</td>
						<td><input type= "text" class="textbox" placeholder="Ingrese..." id="precio"></input></td>
					</tr>
					<tr>
						<td>Tabique  estructural termoblock h.celular 62.5x20x17</td>
						<td>mt2</td>
						<td>CLP</td>
						<td><input type= "text" class="textbox" placeholder="Ingrese..." id="precio"></input></td>
					</tr>
					<tr>
						<td>Tabique  estructural termoblock h.celular 62.5x20x20</td>
						<td>mt2</td> 
						<td>CLP</td>
						<td><input type= "text" class="textbox" placeholder="Ingrese..." id="precio"></input></td>
					</tr>
					<tr>
						<td>Tabique faldon de tina</td>
						<td>mt2</td>
						<td>CLP</td>
						<td><input type= "text" class="textbox" placeholder="Ingrese..." id="precio"></input></td>
					</tr>
					<tr>
						<td>Tabique h.Celular solid. block62.5x40x12.5</td>
						<td>mt2</td>
						<td>CLP</td>
						<td><input type= "text" class="textbox" placeholder="Ingrese..." id="precio"></input></td>
					</tr>
					<tr>
						<td>Tabique h.Celular solid. block62.5x40x10</td>
						<td>mt2</td>
						<td>CLP</td>
						<td><input type= "text" class="textbox" placeholder="Ingrese..." id="precio"></input></td>
					</tr>
					<tr>
						<td>Tabique h.Celular solid. block62.5x40x7.5</td>
						<td>mt2</td>
						<td>CLP</td>
						<td><input type= "text" class="textbox" placeholder="Ingrese..." id="precio"></input></td>
					</tr>
					<tr>
						<td>Tabique hormigon celular solid. block62.5x40x10</td>
						<td>mt2</td>
						<td>CLP</td>
						<td><input type= "text" class="textbox" placeholder="Ingrese..." id="precio"></input></td>
					</tr>
					<tr>
						<td>Tabique hormigon celular solid. block62.5x40x12.5</td>
						<td>mt2</td>
						<td>CLP</td>
						<td><input type= "text" class="textbox" placeholder="Ingrese..." id="precio"></input></td>
					</tr>
					<tr>
						<td>Tabique hormigon celular solid. block62.5x40x7.5</td>
						<td>mt2</td>
						<td>CLP</td>
						<td><input type= "text" class="textbox" placeholder="Ingrese..." id="precio"></input></td>
					</tr>
					
				
			</table>
				<input type= "submit" value="Ingresar valores"></input></td>
				</div>
			</div>
		</div>	
	</BODY>
	
	
	
	<FOOTER>
	<div class="container borde">
			<div class="row" >
				<div class="four columns ">				
				<h6>2016 Keanzato Cotizadora Corp.</h6>
				</div>
				<div class="four columns">
				<h1></h1>
				</div>
				
				<div class="two columns" align="center">				
				<img width="100%" height="100px" src="/keanzato/resources/imagenes/whatsapp.png"><h6>+56988967310</h6>
				</div>
				
				<div  class="two columns ">				
				<img width="100%" height="100px" src="/keanzato/resources/imagenes/gmail.png"><h6>keanzato@cotizadora.cl</h6>
				
				</div>
				
				
				
			</div>
	</div>
	</FOOTER>
</HTML>