<!DOCTYPE HTML>
<HTML>
	<HEAD>
		<TITLE>KEANZATO COTIZADORA</TITLE>
	
		<LINK TYPE="TEXT/CSS" REL="STYLESHEET" HREF="/keanzato/resources/css/skeleton.css">
		<LINK TYPE="TEXT/CSS" REL="STYLESHEET" HREF="/keanzato/resources/css/normalize.css">
		<LINK TYPE="TEXT/CSS" REL="STYLESHEET" HREF="/keanzato/resources/css/hormigones.css">
		
	
	</HEAD>
	
	<BODY>
	
		 <div class="container borde">
		<div class="row" >
				<div class="four columns ">	
				<input type="button" value="Cerrar Sesion" onClick="location.href='http://localhost:90/keanzato/home'" />
				</div>			
				<div class="six columns"> <p> </p>
				</div>
				<div class="two columns ">	
				<p> </p>
				</div>
			</div>
		</div>	
		<div class="container borde">
			<div class="row" >
				<div class="four columns ">				
				<a align="left" href="http://localhost:90/keanzato/User"><img width="100%" height="100px" src="/keanzato/resources/imagenes/logo final.png"></a> 
				</div>
				
				<div class="two columns">
				<a align="center" href="http://localhost:90/keanzato/User/cotiza"><h5>Cotiza</h5></a>
				</div>
				
				<div class="three columns">
				<a align="center" href="http://localhost:90/keanzato/User/contrataTuMaestro"><h5>Contrata tu Maestro</h5></a>
				</div>
				
				<div class="two columns">
				<input type="text" class="textbox" size="10" placeholder="buscar" required="required" id="txtbuscar" name="txtbuscar">
				</div>
				<div class="one columns"> 
				<input type="submit" value="buscar">
				</div>
			</div>
		</div>	
		<div class="container borde">
			<div class="row" >
				<div class="four columns ">	
				<p> </p>
				</div>			
				<div class="six columns"> <p> </p>
				</div>
				<div class="two columns ">	
				<input type="button" value="Total cotizacion" onClick="location.href='http://localhost:90/keanzato/User/total'" />
				</div>
			</div>
		</div>
		
		<div class="container borde">
			<div class="row" >
				<div class="four columns ">	
				<h5>Hormigones</h5>
				
				<table border="0" cellpadding="0" cellspacing="0" width="1000">
					<tr>
						<td class="negrita">Titulo </td>
						<td class="negrita">Unidad</td>
						<td class="negrita">Moneda</td>
						<td class="negrita">Precio</td>
					</tr>
					<tr>
						<td>Cierres placa de hormigon vibrado 1.80mt</td>
						<td>ml</td>
						<td>CLP</td>
						<td><input type= "text" class="textbox" placeholder="Ingrese..." id="precio"></input></td>
					</tr>
					<tr>
						<td>Emplantillado 127.5 KGC/M3 confeccion a betonera</td>
						<td>mt3</td>
						<td>CLP</td>
						<td><input type= "text" class="textbox" placeholder="Ingrese..." id="precio"></input></td>
					</tr>
					<tr>
						<td>Emplantillado 42KG/C/M3</td>
						<td>mt3</td>
						<td>CLP</td>
						<td><input type= "text" class="textbox" placeholder="Ingrese..." id="precio"></input></td>
					</tr>
					<tr>
						<td>Hormig. 140KG/C/M3</td>
						<td>mt3</td>
						<td>CLP</td>
						<td><input type= "text" class="textbox" placeholder="Ingrese..." id="precio"></input></td>
					</tr>
					<tr>
						<td>Hormig. 170KG/C/M3 0.2 B/D</td>
						<td>mt3</td>
						<td>CLP</td>
						<td><input type= "text" class="textbox" placeholder="Ingrese..." id="precio"></input></td>
					</tr>
					<tr>
						<td>Hormig. 170KG/C/M3 0.3 B/D</td>
						<td>mt3</td>
						<td>CLP</td>
						<td><input type= "text" class="textbox" placeholder="Ingrese..." id="precio"></input></td>
					</tr>
					<tr>
						<td>Hormigon 120KG/C/M3 Confeccion con betonera</td>
						<td>mt3</td>
						<td>CLP</td>
						<td><input type= "text" class="textbox" placeholder="Ingrese..." id="precio"></input></td>
					</tr>
					<tr>
						<td>Hormigon H-15 Bombeado para sobrecimientos 7 sacos cem/m3</td>
						<td>mt3</td>
						<td>CLP</td>
						<td><input type= "text" class="textbox" placeholder="Ingrese..." id="precio"></input></td>
					</tr>
					<tr>
						<td>Hormigon H-15 de planta para sobrecimientos 7 sacos cem/m3</td>
						<td>mt3</td>
						<td>CLP</td>
						<td><input type= "text" class="textbox" placeholder="Ingrese..." id="precio"></input></td>
					</tr>
					<tr>
						<td>Hormigon H-20</td>
						<td>mt3</td>
						<td>CLP</td>
						<td><input type= "text" class="textbox" placeholder="Ingrese..." id="precio"></input></td>
					</tr>
					<tr>
						<td><p>Hormigon H-25 bombeado para pilares vigas cadenas y losas 8.5
						sacos cem/M3</p></td>
						<td>mt3</td>
						<td>CLP</td>
						<td><input type= "text" class="textbox" placeholder="Ingrese..." id="precio"></input></td>
					</tr>
					<tr>
						<td><p>Hormigon H-25 de planta para pilares vigas cadenas y losas 8.5
						sacos cem/M3</p></td>
						<td>mt3</td>
						<td>CLP</td>
						<td><input type= "text" class="textbox" placeholder="Ingrese..." id="precio"></input></td>
					</tr>
					<tr>
						<td>Hormigon H-30</td>
						<td>mt3</td>
						<td>CLP</td>
						<td><input type= "text" class="textbox" placeholder="Ingrese..." id="precio"></input></td>
					</tr>
					<tr>
						<td>Hormigon H-30 Bombeado para pavimentos 9 sacos cem/M3</td>
						<td>mt3</td>
						<td>CLP</td>
						<td><input type= "text" class="textbox" placeholder="Ingrese..." id="precio"></input></td>
					</tr>
					<tr>
						<td>Hormigon H-30 de planta para pavimentos 9 sacos cem/M3</td>
						<td>mt3</td>
						<td>CLP</td>
						<td><input type= "text" class="textbox" placeholder="Ingrese..." id="precio"></input></td>
					</tr>
					<tr>
						<td>Hormigon H-5</td>
						<td>mt3</td>
						<td>CLP</td>
						<td><input type= "text" class="textbox" placeholder="Ingrese..." id="precio"></input></td>
					</tr>
					<tr>
						<td>Hormigon H-5 Bombeado para cimientos 4 sacos cem/M3</td>
						<td>mt3</td>
						<td>CLP</td>
						<td><input type= "text" class="textbox" placeholder="Ingrese..." id="precio"></input></td>
					</tr>
					<tr>
						<td>Hormigon H-5 de planta para cimientos 4 sacos cem/M3</td>
						<td>mt3</td>
						<td>CLP</td>
						<td><input type= "text" class="textbox" placeholder="Ingrese..." id="precio"></input></td>
					</tr>
					<tr>
						<td>Hormigon hecho en obra H10 (90) 20 10</td>
						<td>mt3</td> 
						<td>CLP</td>
						<td><input type= "text" class="textbox" placeholder="Ingrese..." id="precio"></input></td>
					</tr>
					<tr>
						<td>Hormigon hecho en obra H15 (90) 20 10</td>
						<td>mt3</td>
						<td>CLP</td>
						<td><input type= "text" class="textbox" placeholder="Ingrese..." id="precio"></input></td>
					</tr>
					<tr>
						<td>Hormigon hecho en obra H20 (90) 20 10</td>
						<td>mt3</td>
						<td>CLP</td>
						<td><input type= "text" class="textbox" placeholder="Ingrese..." id="precio"></input></td>
					</tr>
					<tr>
						<td>Hormigon hecho en obra H25 (90) 20 10</td>
						<td>mt3</td>
						<td>CLP</td>
						<td><input type= "text" class="textbox" placeholder="Ingrese..." id="precio"></input></td>
					</tr>
					<tr>
						<td>Hormigon hecho en obra H30 (90) 20 10</td>
						<td>mt3</td>
						<td>CLP</td>
						<td><input type= "text" class="textbox" placeholder="Ingrese..." id="precio"></input></td>
					</tr>
					<tr>
						<td>Hormigon hecho en obra H35 (90) 20 10</td>
						<td>mt3</td>
						<td>CLP</td>
						<td><input type= "text" class="textbox" placeholder="Ingrese..." id="precio"></input></td>
					</tr>
					<tr>
						<td>Hormigon hecho en obra H40 (90) 20 10</td>
						<td>mt3</td>
						<td>CLP</td>
						<td><input type= "text" class="textbox" placeholder="Ingrese..." id="precio"></input></td>
					</tr>
					<tr>
						<td>Hormigon hecho en obra H45 (90) 20 10</td>
						<td>mt3</td>
						<td>CLP</td>
						<td><input type= "text" class="textbox" placeholder="Ingrese..." id="precio"></input></td>
					</tr>
					<tr>
						<td>Hormigon hecho en obra H50 (90) 20 10</td>
						<td>mt3</td>
						<td>CLP</td>
						<td><input type= "text" class="textbox" placeholder="Ingrese..." id="precio"></input></td>
					</tr>
					<tr>
						<td>Hormigon liviano 1000Kg/M3</td>
						<td>mt3</td>
						<td>CLP</td>
						<td><input type= "text" class="textbox" placeholder="Ingrese..." id="precio"></input></td>
					</tr>
					<tr>
						<td>Hormigon liviano 1100Kg/M3</td>
						<td>mt3</td>
						<td>CLP</td>
						<td><input type= "text" class="textbox" placeholder="Ingrese..." id="precio"></input></td>
					</tr>
					<tr>
						<td>Hormigon liviano 1200Kg/M3</td>
						<td>mt3</td>
						<td>CLP</td>
						<td><input type= "text" class="textbox" placeholder="Ingrese..." id="precio"></input></td>
					</tr>
					<tr>
						<td>Hormigon liviano 600Kg/M3</td>
						<td>mt3</td>
						<td>CLP</td>
						<td><input type= "text" class="textbox" placeholder="Ingrese..." id="precio"></input></td>
					</tr>
					<tr>
						<td>Hormigon liviano 700Kg/M3</td>
						<td>mt3</td>
						<td>CLP</td>
						<td><input type= "text" class="textbox" placeholder="Ingrese..." id="precio"></input></td>
					</tr>	
					<tr>
						<td>Hormigon liviano 800Kg/M3</td>
						<td>mt3</td>
						<td>CLP</td>
						<td><input type= "text" class="textbox" placeholder="Ingrese..." id="precio"></input></td>
					</tr>
					<tr>
						<td>Hormigon liviano 900Kg/M3</td>
						<td>mt3</td>
						<td>CLP</td>
						<td><input type= "text" class="textbox" placeholder="Ingrese..." id="precio"></input></td>
					</tr>
				
			</table>
				<input type= "submit" value="Ingresar valores"></input></td>
				</div>
			</div>
		</div>	
	</BODY>
	
	
	
	<FOOTER>
	<div class="container borde">
			<div class="row" >
				<div class="four columns ">				
				<h6>2016 Keanzato Cotizadora Corp.</h6>
				</div>
				<div class="four columns">
				<h1></h1>
				</div>
				
				<div class="two columns" align="center">				
				<img width="100%" height="100px" src="/keanzato/resources/imagenes/whatsapp.png"><h6>+56988967310</h6>
				</div>
				
				<div  class="two columns ">				
				<img width="100%" height="100px" src="/keanzato/resources/imagenes/gmail.png"><h6>keanzato@cotizadora.cl</h6>
				
				</div>
				
				
				
			</div>
	</div>
	</FOOTER>
</HTML>