<!DOCTYPE HTML>
<HTML>
	<HEAD>
		<TITLE>KEANZATO CONSTRUCTORA</TITLE>
	
		<LINK TYPE="TEXT/CSS" REL="STYLESHEET" HREF="/keanzato/resources/css/skeleton.css">
		<LINK TYPE="TEXT/CSS" REL="STYLESHEET" HREF="/keanzato/resources/css/normalize.css">
		<LINK TYPE="TEXT/CSS" REL="STYLESHEET" HREF="/keanzato/resources/css/movimientoTierra.css">
		
		
		
	</HEAD>
	
	<BODY>
	
		 <div class="container borde">
		<div class="row" >
				<div class="four columns ">	
				<input type="button" value="Cerrar Sesion" onClick="location.href='http://localhost:90/keanzato/home'" />
				</div>			
				<div class="six columns"> <p> </p>
				</div>
				<div class="two columns ">	
				<p> </p>
				</div>
			</div>
		</div>	
		<div class="container borde">
			<div class="row" >
				<div class="four columns ">				
				<a align="left" href="http://localhost:90/keanzato/User"><img width="100%" height="100px" src="/keanzato/resources/imagenes/logo final.png"></a> 
				</div>
				
				<div class="two columns">
				<a align="center" href="http://localhost:90/keanzato/User/cotiza"><h5>Cotiza</h5></a>
				</div>
				
				<div class="three columns">
				<a align="center" href="http://localhost:90/keanzato/User/contrataTuMaestro"><h5>Contrata tu Maestro</h5></a>
				</div>
				
				<div class="two columns">
				<input type="text" class="textbox" size="10" placeholder="buscar" required="required" id="txtbuscar" name="txtbuscar">
				</div>
				<div class="one columns"> 
				<input type="submit" value="buscar">
				</div>
			</div>
		</div>	
		<div class="container borde">
			<div class="row" >
				<div class="four columns ">	
				<p> </p>
				</div>			
				<div class="six columns"> <p> </p>
				</div>
				<div class="two columns ">	
				<input type="button" value="Total cotizacion" onClick="location.href='http://localhost:90/keanzato/User/total'" />
				</div>
			</div>
		</div>
		
		<div class="container borde">
			<div class="row" >
				<div class="four columns ">	
				<h5>Movimiento de tierra</h5>
				
				<table border="0" cellpadding="0" cellspacing="0" width="900">
					<tr>
						<td class="negrita">Titulo </td>
						<td class="negrita">Unidad</td>
						<td class="negrita">Moneda</td>
						<td class="negrita">Precio</td>
					</tr>
					<tr>
						<td>Acarreo carretilla a 10mt</td>
						<td>mt3</td>
						<td>CLP</td>
						<td><input type= "text" class="textbox" placeholder="Ingrese..." id="precio"></input></td>
					</tr>
					<tr>
						<td>Acarreo carretilla a 100mt</td>
						<td>mt3</td>
						<td>CLP</td>
						<td><input type= "text" class="textbox" placeholder="Ingrese..." id="precio"></input></td>
					</tr>
					<tr>
						<td>Acarreo carretilla a 20mt</td>
						<td>mt3</td>
						<td>CLP</td>
						<td><input type= "text" class="textbox" placeholder="Ingrese..." id="precio"></input></td>
					</tr>
					<tr>
						<td>Acarreo carretilla a 30mt</td>
						<td>mt3</td>
						<td>CLP</td>
						<td><input type= "text" class="textbox" placeholder="Ingrese..." id="precio"></input></td>
					</tr>
					<tr>
						<td>Acarreo carretilla a 50mt</td>
						<td>mt3</td>
						<td>CLP</td>
						<td><input type= "text" class="textbox" placeholder="Ingrese..." id="precio"></input></td>
					</tr>
					<tr>
						<td>Apisonado 10cm a mano</td>
						<td>m2</td>
						<td>CLP</td>
						<td><input type= "text" class="textbox" placeholder="Ingrese..." id="precio"></input></td>
					</tr>
					<tr>
						<td>Cama de ripio 10cm S/COMP</td>
						<td>m2</td>
						<td>CLP</td>
						<td><input type= "text" class="textbox" placeholder="Ingrese..." id="precio"></input></td>
					</tr>
					<tr>
						<td>Cama de ripio compactada e=10cm</td>
						<td>m2</td>
						<td>CLP</td>
						<td><input type= "text" class="textbox" placeholder="Ingrese..." id="precio"></input></td>
					</tr>
					<tr>
						<td>Capa de arena e=1cm</td>
						<td>m2</td>
						<td>CLP</td>
						<td><input type= "text" class="textbox" placeholder="Ingrese..." id="precio"></input></td>
					</tr>
					<tr>
						<td>Carga a camion</td>
						<td>m3</td>
						<td>CLP</td>
						<td><input type= "text" class="textbox" placeholder="Ingrese..." id="precio"></input></td>
					</tr>
					<tr>
						<td>Carga carretilla-Camion 20mt</td>
						<td>m3</td>
						<td>CLP</td>
						<td><input type= "text" class="textbox" placeholder="Ingrese..." id="precio"></input></td>
					</tr>
					<tr>
						<td><p>Despeje en costados-excavacion de profundidad</p>
						 <p>mayor a 2.0mt o anchos superiores a 1.4mt</p></td>
						<td>m3</td>
						<td>CLP</td>
						<td><input type= "text" class="textbox" placeholder="Ingrese..." id="precio"></input></td>
					</tr>
					<tr>
						<td>Emparejado a mano</td>
						<td>m2</td>
						<td>CLP</td>
						<td><input type= "text" class="textbox" placeholder="Ingrese..." id="precio"></input></td>
					</tr>
					<tr>
						<td>Esparcimiento en superficie capas de 0.15m</td>
						<td>m3</td>
						<td>CLP</td>
						<td><input type= "text" class="textbox" placeholder="Ingrese..." id="precio"></input></td>
					</tr>
					<tr>
						<td>Esparcimiento en superficie capas de 0.20m</td>
						<td>m3</td>
						<td>CLP</td>
						<td><input type= "text" class="textbox" placeholder="Ingrese..." id="precio"></input></td>
					</tr>
					<tr>
						<td>Esparcimiento relleno hasta 20cm esp.</td>
						<td>m2</td>
						<td>CLP</td>
						<td><input type= "text" class="textbox" placeholder="Ingrese..." id="precio"></input></td>
					</tr>
					<tr>
						<td>Esparcimiento rellenos E=10cm</td>
						<td>m2</td>
						<td>CLP</td>
						<td><input type= "text" class="textbox" placeholder="Ingrese..." id="precio"></input></td>
					</tr>
					<tr>
						<td>Esparcimiento rellenos E=30cm</td>
						<td>m2</td>
						<td>CLP</td>
						<td><input type= "text" class="textbox" placeholder="Ingrese..." id="precio"></input></td>
					</tr>
					<tr>
						<td><p>Excavacion a brazo en zanja <1.4 y prof <2m</p>
						 <p>terreno blando</p></td>
						<td>m3</td>
						<td>CLP</td>
						<td><input type= "text" class="textbox" placeholder="Ingrese..." id="precio"></input></td>
					</tr>
					<tr>
						<td><p>Excavacion a brazo en zanja <1.4 y prof <2m</p>
						 <p>terreno duro</p></td>
						<td>m3</td>
						<td>CLP</td>
						<td><input type= "text" class="textbox" placeholder="Ingrese..." id="precio"></input></td>
					</tr>
					<tr>
						<td><p>Excavacion a brazo en zanja <1.4 y prof <2m</p>
						 <p>terreno muy duro</p></td>
						<td>m3</td>
						<td>CLP</td>
						<td><input type= "text" class="textbox" placeholder="Ingrese..." id="precio"></input></td>
					</tr>
					<tr>
						<td><p>Excavacion a brazo en zanja <1.4 y prof <2m</p>
						 <p>terreno semiduro</p></td>
						<td>m3</td>
						<td>CLP</td>
						<td><input type= "text" class="textbox" placeholder="Ingrese..." id="precio"></input></td>
					</tr>
					<tr>
						<td>Excavacion de corte en terreno de cualquier naturaleza</td>
						<td>m3</td>
						<td>CLP</td>
						<td><input type= "text" class="textbox" placeholder="Ingrese..." id="precio"></input></td>
					</tr>
					<tr>
						<td>Excavacion de escarpe</td>
						<td>m3</td>
						<td>CLP</td>
						<td><input type= "text" class="textbox" placeholder="Ingrese..." id="precio"></input></td>
					</tr>
					<tr>
						<td>Excavacion para obras de drenaje</td>
						<td>m3</td>
						<td>CLP</td>
						<td><input type= "text" class="textbox" placeholder="Ingrese..." id="precio"></input></td>
					</tr>
					<tr>
						<td>Extraccion de escombros incluye cargo</td>
						<td>m3</td>
						<td>CLP</td>
						<td><input type= "text" class="textbox" placeholder="Ingrese..." id="precio"></input></td>
					</tr>
					<tr>
						<td>Formacion y compactacion de terraplenes</td>
						<td>m3</td>
						<td>CLP</td>
						<td><input type= "text" class="textbox" placeholder="Ingrese..." id="precio"></input></td>
					</tr>
					<tr>
						<td>Paleo material 1-3mts</td>
						<td>m3</td>
						<td>CLP</td>
						<td><input type= "text" class="textbox" placeholder="Ingrese..." id="precio"></input></td>
					</tr>
					<tr>
						<td>Preparacion de la subrasante</td>
						<td>m3</td>
						<td>CLP</td>
						<td><input type= "text" class="textbox" placeholder="Ingrese..." id="precio"></input></td>
					</tr>
					<tr>
						<td>Relleno con bolon</td>
						<td>m3</td>
						<td>CLP</td>
						<td><input type= "text" class="textbox" placeholder="Ingrese..." id="precio"></input></td>
					</tr>
					<tr>
						<td>Relleno en zanja en capas de 0.15m</td>
						<td>m3</td>
						<td>CLP</td>
						<td><input type= "text" class="textbox" placeholder="Ingrese..." id="precio"></input></td>
					</tr>
					<tr>
						<td>Relleno estabilizado compactado</td>
						<td>m3</td>
						<td>CLP</td>
						<td><input type= "text" class="textbox" placeholder="Ingrese..." id="precio"></input></td>
					</tr>	
					<tr>
						<td>Relleno estructural</td>
						<td>m3</td>
						<td>CLP</td>
						<td><input type= "text" class="textbox" placeholder="Ingrese..." id="precio"></input></td>
					</tr>
					<tr>
						<td>Relleno de material inadecuado</td>
						<td>m3</td>
						<td>CLP</td>
						<td><input type= "text" class="textbox" placeholder="Ingrese..." id="precio"></input></td>
					</tr>
				
			</table>
				<input type= "submit" value="Ingresar valores"></input></td>
				</div>
			</div>
		</div>	
	</BODY>
	
	
	
	<FOOTER>
	<div class="container borde">
			<div class="row" >
				<div class="four columns ">				
				<h6>2016 Keanzato Cotizadora Corp.</h6>
				</div>
				<div class="four columns">
				<h1></h1>
				</div>
				
				<div class="two columns" align="center">				
				<img width="100%" height="100px" src="/keanzato/resources/imagenes/whatsapp.png"><h6>+56988967310</h6>
				</div>
				
				<div  class="two columns ">				
				<img width="100%" height="100px" src="/keanzato/resources/imagenes/gmail.png"><h6>keanzato@cotizadora.cl</h6>
				
				</div>
				
				
				
			</div>
	</div>
	</FOOTER>
</HTML>