<!DOCTYPE HTML>
<HTML>
	<HEAD>
		<TITLE>KEANZATO CONSTRUCTORA</TITLE>
	
		<LINK TYPE="TEXT/CSS" REL="STYLESHEET" HREF="/keanzato/resources/css/skeleton.css">
		<LINK TYPE="TEXT/CSS" REL="STYLESHEET" HREF="/keanzato/resources/css/normalize.css">
		<LINK TYPE="TEXT/CSS" REL="STYLESHEET" HREF="/keanzato/resources/css/trazadosNiveles.css">

		<meta name="viewport" content="width=device-width, initial-scale=1">
	</HEAD>
	
	<BODY>
	
		 <div class="container borde">
		<div class="row" >
				<div class="four columns ">	
				<input type="button" value="Cerrar Sesion" onClick="location.href='http://localhost:90/keanzato/home'" />
				</div>			
				<div class="six columns"> <p> </p>
				</div>
				<div class="two columns ">	
				<p> </p>
				</div>
			</div>
		</div>	
		<div class="container borde">
			<div class="row" >
				<div class="four columns ">				
				<a align="left" href="http://localhost:90/keanzato/User"><img class="espaciarImagen" src="/keanzato/resources/imagenes/logo final.png"></a> 
				</div>
				
				<div class="two columns">
				<a align="center" href="http://localhost:90/keanzato/User/cotiza"><h5>Cotiza</h5></a>
				</div>
				
				<div class="three columns">
				<a align="center" href="http://localhost:90/keanzato/User/contrataTuMaestro"><h5>Contrata tu Maestro</h5></a>
				</div>
				
				<div class="two columns">
				<input type="text" class="textbox" placeholder="buscar" required="required" id="txtbuscar" name="txtbuscar">
				</div>
				<div class="one columns"> 
				<input type="submit" value="buscar">
				</div>
			</div>
		</div>	
		<div class="container borde">
			<div class="row" >
				<div class="four columns ">	
				</div>			
				<div class="six columns"> <p> </p>
				</div>
				<div class="two columns ">	
				<input type="button" value="Total cotizacion" onClick="location.href='http://localhost:90/keanzato/User/total'" />
				</div>
			</div>
		</div>
		
		<div class="container borde">
			<div class="row" >
				<div class="four columns ">	
				<h5>Trazados y niveles</h5>
				
				<table class="espaciar">
					<thead>
						<tr>
							<th>Titulo</th>
							<th>Unidad</th>
							<th>Moneda</th>
							<th>Precio</th>
						</tr>
					</thead>
					<tbody>
						{foreach $resultado row}
							<tr>
								<td>{$row.titulo}</td>
								<td>{$row.unidad}</td>
								<td>{$row.moneda}</td>
								<td>{$row.precio}</td>
							</tr>
						{else}
					<tr>
						<td >Sin Datos</td>
					</tr>
						{/foreach}
					</tbody>
				</table>
				<input type= "submit" value="Ingresar valores"></input>
				</div>
			</div>
		</div>	
	</BODY>
	
	
	
	<FOOTER>
	<div class="container borde">
			<div class="row" >
				<div class="four columns ">				
				<h6>2016 Keanzato Cotizadora Corp.</h6>
				</div>
				<div class="four columns">
				<h1></h1>
				</div>
				
				<div class="two columns" align="center">				
				<img class="espaciarImagen" src="/keanzato/resources/imagenes/whatsapp.png"><h6>+56988967310</h6>
				</div>
				
				<div  class="two columns ">				
				<img class="espaciarImagen" src="/keanzato/resources/imagenes/gmail.png"><h6>keanzato@cotizadora.cl</h6>
				
				</div>
				
				
				
			</div>
	</div>
	</FOOTER>
</HTML>