<!DOCTYPE HTML>
<HTML>
	<HEAD>
		<TITLE>KEANZATO COTIZADORA</TITLE>
	
		<LINK TYPE="TEXT/CSS" REL="STYLESHEET" HREF="/keanzato/resources/css/skeleton.css">
		<LINK TYPE="TEXT/CSS" REL="STYLESHEET" HREF="/keanzato/resources/css/normalize.css">
		<LINK TYPE="TEXT/CSS" REL="STYLESHEET" HREF="/keanzato/resources/css/contrataTuMaestro.css">
		
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</HEAD>
	
	<BODY>
	 <div class="container borde">
		<div class="row" >
				<div class="four columns ">	
				<input type="button" value="Cerrar Sesion" onClick="location.href='http://localhost:90/keanzato/home'" />
				</div>			
				<div class="six columns"> <p> </p>
				</div>
				<div class="two columns ">	
				<p> </p>
				</div>
			</div>
		</div>	
		<div class="container borde">
			<div class="row" >
				<div class="four columns ">				
				<a align="left" href="http://localhost:90/keanzato/Admin"><img width="100%" height="100px" src="/keanzato/resources/imagenes/logo final.png"></a> 
				</div>
				
				<div class="two columns">
				<a align="center" href="http://localhost:90/keanzato/Admin/editarProducto"><h5>Editar Trabajos</h5></a>
				</div>
				
				<div class="three columns">
				<a align="center" href="http://localhost:90/keanzato/Admin/cuentasUsuario"><h5>Cuentas de usuario</h5></a>
				</div>
				
				<div class="two columns">
				<input type="text" class="textbox" size="10" placeholder="buscar" required="required" id="txtbuscar" name="txtbuscar">
				</div>
				<div class="one columns"> 
				<input type="submit" value="buscar">
				</div>
			</div>
		</div>	
		<div class="container borde">
			<div class="row" >
				<div class="five columns ">	
				<h5>Lista de usuarios</h5>
				
				<table border="0" cellpadding="0" cellspacing="0" width="900">
					<tr>
						<td>Titulo </td>
						<td>Unidad</td>
						<td>Moneda</td>
						<td>Precio</td>
					</tr>
					</table>
				</div>
			</div>
		</div>	
		
	</BODY>
	
	
	
	<FOOTER>
	<div class="container borde">
			<div class="row" >
				<div class="four columns ">				
				<h6>2016 Keanzato Cotizadora Corp.</h6>
				</div>
				<div class="four columns">
				<h1></h1>
				</div>
				
				<div class="two columns" align="center">				
				<img width="100%" height="100px" src="/keanzato/resources/imagenes/whatsapp.png"><h6>+56988967310</h6>
				</div>
				
				<div  class="two columns ">				
				<img width="100%" height="100px" src="/keanzato/resources/imagenes/gmail.png"><h6>keanzato@cotizadora.cl</h6>
		
				</div>
			</div>
	</div>
	</FOOTER>
</HTML>