<!DOCTYPE HTML>
<HTML>
	<HEAD>
		<TITLE>KEANZATO COTIZADORA</TITLE>
	
		<LINK TYPE="TEXT/CSS" REL="STYLESHEET" HREF="/keanzato/resources/css/skeleton.css">
		<LINK TYPE="TEXT/CSS" REL="STYLESHEET" HREF="/keanzato/resources/css/normalize.css">
		<LINK TYPE="TEXT/CSS" REL="STYLESHEET" HREF="/keanzato/resources/css/home.css">
		
		<script> 
			//creo array de imágenes 
			array_imagen = new Array(3) 
			array_imagen[0] = new Image(120,41) 
			array_imagen[0].src = "resources/imagenes/Construccion3.jpg" 
			array_imagen[1] = new Image(120,41) 
			array_imagen[1].src = "resources/imagenes/Construccion1.jpg" 
			array_imagen[2] = new Image(120,41) 
			array_imagen[2].src = "resources/imagenes/Construccion2.jpg" 
			
			//creo el array de URLs 
			array_url = new Array(5) 
			array_url[0] = "http://localhost:90/keanzato/Admin"
			array_url[1] = "http://localhost:90/keanzato/Admin" 
			array_url[2] = "http://localhost:90/keanzato/Admin" 
			

			//variable para llevar la cuenta de la imagen siguiente 
			contador = 0 

		//función para rotar el banner 
		function alternar_banner(){ 
			window.document["banner"].src = array_imagen[contador].src 
			window.document.links[0].href = array_url[contador] 
			contador ++
			contador = contador % array_imagen.length 
			setTimeout("alternar_banner()",2500/*En MiliSegundos 1000ml=1seg*/) 
		} </script> 
		
	</HEAD>
	<BODY onload="alternar_banner()">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</HEAD>
	
	<BODY>	
	 <div class="container borde">
		<div class="row" >
				<div class="four columns ">	
				<input type="button" value="Cerrar Sesion" onClick="location.href='http://localhost:90/keanzato/home'" />
				</div>			
				<div class="six columns"> <p> </p>
				</div>
				<div class="two columns ">	
				<p> </p>
				</div>
			</div>
		</div>	
		<div class="container borde">
			<div class="row" >
				<div class="four columns ">				
				<a align="left" href="http://localhost:90/keanzato/Admin"><img width="100%" height="100px" src="/keanzato/resources/imagenes/logo final.png"></a> 
				</div>
				
				<div class="two columns">
				<a align="center" href="http://localhost:90/keanzato/Admin/editarProducto"><h5>Editar Trabajos</h5></a>
				</div>
				
				<div class="three columns">
				<a align="center" href="http://localhost:90/keanzato/Admin/cuentasUsuario"><h5>Cuentas de usuario</h5></a>
				</div>
				
				<div class="two columns">
				<input type="text" class="textbox" size="10" placeholder="buscar" required="required" id="txtbuscar" name="txtbuscar">
				</div>
				<div class="one columns"> 
				<input type="submit" value="buscar">
				</div>
			</div>
		</div>	

		<div class="container">
			<div class="row" >
				<div class="twelve columns ">				
					<a align="center"><img src="/keanzato/resources/imagenes/Construccion3.jpg" name="banner" width="100%" height="500px" border="1px"></a> 
				</div>						
			</div>
		</div>	
		
		
	</BODY>
	
	
	
	<FOOTER>
	<div class="container">
			<div class="row" >
				<div class="four columns ">				
				<h6>2016 Keanzato Cotizadora Corp.</h6>
				</div>
				<div class="four columns">
				<h1></h1>
				</div>
				
				<div class="two columns" align="center">				
				<img width="100%" height="100px" src="/keanzato/resources/imagenes/whatsapp.png"><h6>+56988967310</h6>
				</div>
				
				<div  class="two columns ">				
				<img width="100%" height="100px" src="/keanzato/resources/imagenes/gmail.png"><h6>keanzato@cotizadora.cl</h6>
				
				</div>
				
				
				
			</div>
	</div>
	</FOOTER>
</HTML>