<!DOCTYPE HTML>
<HTML>
	<HEAD>
		<TITLE>KEANZATO COTIZADORA</TITLE>
	
		<LINK TYPE="TEXT/CSS" REL="STYLESHEET" HREF="/keanzato/resources/css/skeleton.css">
		<LINK TYPE="TEXT/CSS" REL="STYLESHEET" HREF="/keanzato/resources/css/normalize.css">
		<LINK TYPE="TEXT/CSS" REL="STYLESHEET" HREF="/keanzato/resources/css/registro.css">
		
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</HEAD>
	
	<BODY>
		<div class="container borde">
			<div class="row" >
				<div class="four columns ">				
				<a align="left" href="http://localhost:90/keanzato/home"><img width="100%" height="100px" src="/keanzato/resources/imagenes/logo final.png"></a> 
				</div>
				
				<div class="two columns">
				<a align="center" href="http://localhost:90/keanzato/home/usuario"><h5>Cotiza</h5></a>
				</div>
				
				<div class="three columns">
				<a align="center" href="http://localhost:90/keanzato/home/contrataTuMaestro"><h5>Contrata tu Maestro</h5></a>
				</div>
				
				<div class="two columns">
				<input type="text" class="textbox" size="10" placeholder="buscar" required="required" id="txtbuscar" name="txtbuscar">
				</div>
				<div class="one columns"> 
				<input type="submit" value="buscar">
				</div>
			</div>
		</div>	
		
		<div class="container borde">
			<div class="row" >
				<div class="five columns ">	
				
				<h5>Registrate antes de cotizar</h5>
								
				<table border="0" cellpadding="0" cellspacing="0" width="600">
					<tr>
						<td width="70%">Nombre: </td>
						<td width="50%"><input type="text" size="53" name="T1"></td>
					</tr>
					<tr>
						<td width="70%">Correo: </td>
						<td width="50%"><input type="email" size="53" name="T2"></td>
					</tr>
					<tr>
						<td width="70%">Clave nueva: </td>
						<td width="50%"><input type="password" size="53" name="T3"></td>
					</tr>
					<tr>
						<td width="70%">Repita clave: </td>
						<td width="50%"><input type="password" size="53" name="T4"></td>
					</tr>
					<tr>
						<td width="70%">Fecha nacimiento: </td>
						<td width="50%"><input type="date" size="60" name="T5"></td>
					</tr>
					
			</table>
				   <button type="button">Regitrar</button>
				
				
				</div>
			</div>
		</div>	
	</BODY>
	
	
	
	<FOOTER>
	<div class="container borde">
			<div class="row" >
				<div class="four columns ">				
				<h6>2016 Keanzato Cotizadora Corp.</h6>
				</div>
				<div class="four columns">
				<h1></h1>
				</div>
				
				<div class="two columns" align="center">				
				<img width="100%" height="100px" src="/keanzato/resources/imagenes/whatsapp.png"><h6>+56988967310</h6>
				</div>
				
				<div  class="two columns ">				
				<img width="100%" height="100px" src="/keanzato/resources/imagenes/gmail.png"><h6>keanzato@cotizadora.cl</h6>
				
				</div>
				
				
				
			</div>
	</div>
	</FOOTER>
</HTML>