<!DOCTYPE HTML>
<HTML>
	<HEAD>
		<TITLE>KEANZATO COTIZADORA</TITLE>
	
		<LINK TYPE="TEXT/CSS" REL="STYLESHEET" HREF="/keanzato/resources/css/skeleton.css">
		<LINK TYPE="TEXT/CSS" REL="STYLESHEET" HREF="/keanzato/resources/css/normalize.css">
		<LINK TYPE="TEXT/CSS" REL="STYLESHEET" HREF="/keanzato/resources/css/login.css">
		
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</HEAD>
	
	<BODY>
	<div class="container borde">
			<div class="row" >
				<div class="four columns ">	
				<input type="button" value="Iniciar sesion" onClick="location.href='http://localhost:90/keanzato/home/login'" />
				</div>						
			</div>
		</div>	
		<div class="container borde">
			<div class="row" >
				<div class="four columns ">				
				<a class="alignLeft" href="http://localhost:90/keanzato/home"><img class="spaceImagen" src="/keanzato/resources/imagenes/logo final.png"></a> 
				</div>
				
				<div class="two columns">
				<a class="alignCenter" href="http://localhost:90/keanzato/home/login"><h5>Cotiza</h5></a>
				</div>
				
				<div class="three columns">
				<a class="alignCenter" href="http://localhost:90/keanzato/home/contrataTuMaestro"><h5>Contrata tu Maestro</h5></a>
				</div>
				
				<div class="two columns">
				<input type="text" class="textbox sizeButton" placeholder="buscar" required="required" id="txtbuscar" name="txtbuscar">
				</div>
				<div class="one columns"> 
				<input type="submit" value="buscar">
				</div>
			</div>
		</div>	
		
		<div class="container borde">
			<div class="row" >
				<div class="five columns ">	
				<h5>Ingresa</h5>
								
				<table align="right">
								<form action="/keanzato/home/validaLogin" method="post" align="right">
								<table class="espaciar">
									<tr>
									 <td class="width1">Usuario: </td>
									 <td class="width50"><input type="text" class="textbox sizeButton"  placeholder="Usuario" required="required" id="user" name="user"></td>
									 </tr>
									 <tr>
									 <td class="width1">Clave: </td>
									 <td class="width50"><input type="password" class="textbox sizeButton" placeholder="Contraseña" required="required" id="pass" name="pass"></td>
									 </tr>
									 <tr>
									 <td><input type="submit" value="entrar" id="boton" class="boton"/></td>
									</tr>
									</table>
								 </form>
							 </table>
						</div>
					</div>
				</div>	
			</BODY>
	
	
	
	<FOOTER>
	<div class="container borde">
			<div class="row" >
				<div class="four columns ">				
				<h6>2016 Keanzato Cotizadora Corp.</h6>
				</div>
				<div class="four columns">
				<h1></h1>
				</div>
				
				<div class="two columns" align="center">				
				<img class="spaceImagen" src="/keanzato/resources/imagenes/whatsapp.png"><h6>+56988967310</h6>
				</div>
				
				<div class="two columns ">				
				<img class="spaceImagen" src="/keanzato/resources/imagenes/gmail.png"><h6>keanzato@cotizadora.cl</h6>
				
			</div>
		</div>
	</div>
	</FOOTER>
</HTML>